@model Actividad4LengProg3.Models.EstudianteViewModel
@{
    ViewBag.Title = "Registro de Estudiantes";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Registrar", "Estudiantes", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.NombreCompleto)
        @Html.TextBoxFor(m => m.NombreCompleto, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NombreCompleto)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Matricula)
        @Html.TextBoxFor(m => m.Matricula, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Matricula)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Carrera)
        @Html.DropDownListFor(m => m.Carrera, new SelectList(ViewBag.Carreras), "-- Seleccione --", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Carrera)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Recinto)
        @Html.DropDownListFor(m => m.Recinto, new SelectList(ViewBag.Recintos), "-- Seleccione --", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Recinto)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CorreoInstitucional)
        @Html.TextBoxFor(m => m.CorreoInstitucional, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CorreoInstitucional)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Celular)
        @Html.TextBoxFor(m => m.Celular, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Celular)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Telefono)
        @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Telefono)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Direccion)
        @Html.TextBoxFor(m => m.Direccion, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Direccion)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.FechaNacimiento)
        @Html.TextBoxFor(m => m.FechaNacimiento, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FechaNacimiento)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Genero)
        @Html.DropDownListFor(m => m.Genero, new SelectList(ViewBag.Generos), "-- Seleccione --", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Genero)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Turno)
        @Html.DropDownListFor(m => m.Turno, new SelectList(ViewBag.Turnos), "-- Seleccione --", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Turno)
    </div>

    <div class="form-group">
        <label>@Html.CheckBoxFor(m => m.EstaBecado) ¿Está becado?</label>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PorcentajeBeca)
        @Html.TextBoxFor(m => m.PorcentajeBeca, new { @class = "form-control", type = "number", min = "0", max = "100" })
        @Html.ValidationMessageFor(m => m.PorcentajeBeca)
    </div>

    <button type="submit" class="btn btn-primary">Registrar</button>
    <a href="@Url.Action("Lista")" class="btn btn-success">Ver Lista</a>
}
