@model IEnumerable<Actividad4LengProg3.Models.EstudianteViewModel>
@{
    ViewBag.Title = "Lista de Estudiantes";
}

<div class="d-flex justify-content-between mb-3 my-5">
    <h2>@ViewBag.Title</h2>
    <a href="@Url.Action("Index")" class="btn btn-primary">Nuevo registro</a>
</div>

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success">@TempData["Mensaje"]</div>
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Matrícula</th>
            <th>Carrera</th>
            <th>Recinto</th>
            <th>Correo</th>
            <th>Beca</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.NombreCompleto</td>
                <td>@e.Matricula</td>
                <td>@e.Carrera</td>
                <td>@e.Recinto</td>
                <td>@e.CorreoInstitucional</td>
                <td>@(e.EstaBecado ? $"{e.PorcentajeBeca}%" : "No")</td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { matricula = e.Matricula }, new { @class = "btn btn-warning btn-sm" })
                    @Html.ActionLink("Eliminar", "Eliminar", new { matricula = e.Matricula }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
