@model IEnumerable<Actividad4LengProg3.Models.RecintoViewModel>

@{
    ViewBag.Title = "Lista de Recintos";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">Lista de Recintos</h2>
    @if (TempData["Mensaje"] != null)
    {
        <div class="alert alert-success">@TempData["Mensaje"]</div>
    }

    <div class="text-end mb-3">
        <a href="@Url.Action("Crear", "Recintos")" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Nuevo Recinto
        </a>
    </div>
</div>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.Codigo</td>
                <td>@r.NombreRecinto</td>
                <td>@r.DireccionRecinto</td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { codigo = r.Codigo }, new { @class = "btn btn-warning btn-sm" })
                    @Html.ActionLink("Eliminar", "Eliminar", new { codigo = r.Codigo }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
